In [1]:
import pandas as pd
import numpy as np
import xport
import xport.v56

In [4]:
%%timeit

with open('../../Data/LLCP2021.XPT', 'rb') as f:
    library = xport.v56.load(f)

2min 15s ± 2.18 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [6]:
with open('../../Data/LLCP2021.XPT', 'rb') as f:
    library = xport.v56.load(f)

In [7]:
type(library['LLCP2021'])

xport.v56.Member

In [8]:
df = pd.DataFrame(library['LLCP2021'])

In [9]:
df.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_FRTRES1,_VEGRES1,_FRUTSU1,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1
0,1.0,1.0,01192021,01,19,2021,1100.0,2021000001,2.021000e+09,1.0,...,1.0,1.0,100.0,214.0,1.0,1.0,1.0,1.0,0.0,0.0
1,1.0,1.0,01212021,01,21,2021,1100.0,2021000002,2.021000e+09,1.0,...,1.0,1.0,100.0,128.0,1.0,1.0,1.0,1.0,0.0,0.0
2,1.0,1.0,01212021,01,21,2021,1100.0,2021000003,2.021000e+09,1.0,...,1.0,1.0,100.0,71.0,1.0,2.0,1.0,1.0,0.0,0.0
3,1.0,1.0,01172021,01,17,2021,1100.0,2021000004,2.021000e+09,1.0,...,1.0,1.0,114.0,165.0,1.0,1.0,1.0,1.0,0.0,0.0
4,1.0,1.0,01152021,01,15,2021,1100.0,2021000005,2.021000e+09,1.0,...,1.0,1.0,100.0,258.0,1.0,1.0,1.0,1.0,0.0,0.0

In [11]:
%%timeit

df.to_csv("../../Data/LLCP2021XportPandas.csv", index = True)

44.5 s ± 1.21 s per loop (mean ± std. dev. of 7 runs, 1 loop each)